<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.swim.mapper.SwRecordMapper">

    <resultMap type="com.example.swim.domain.SwRecord" id="SwRecordResult">
        <result property="id"    column="id"    />
        <result property="day"    column="day"    />
        <result property="items"    column="items"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createTime"    column="create_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectSwRecordVo">
        select id, `day`, items, del_flag, create_time, create_by, update_time, update_by from sw_record
    </sql>

    <select id="selectByDay" parameterType="string" resultMap="SwRecordResult">
        <include refid="selectSwRecordVo"/>
        where day=#{day}
    </select>

    <select id="selectSwRecordList" parameterType="com.example.swim.domain.SwRecord" resultMap="SwRecordResult">
        <include refid="selectSwRecordVo"/>
        <where>
            <if test="day != null  and day != ''"> and `day` = #{day}</if>
            <if test="items != null  and items != ''"> and items = #{items}</if>
        </where>
    </select>

    <select id="selectSwRecordById" parameterType="long" resultMap="SwRecordResult">
        <include refid="selectSwRecordVo"/>
        where id = #{id}
    </select>

    <insert id="insertSwRecord" parameterType="com.example.swim.domain.SwRecord" useGeneratedKeys="true" keyProperty="id">
        insert into sw_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="day != null">`day`,</if>
            <if test="items != null">items,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createTime != null">create_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="day != null">#{day},</if>
            <if test="items != null">#{items},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateSwRecord" parameterType="com.example.swim.domain.SwRecord">
        update sw_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="day != null">`day` = #{day},</if>
            <if test="items != null">items = #{items},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSwRecordById" parameterType="long">
        delete from sw_record where id = #{id}
    </delete>

    <delete id="deleteSwRecordByIds" parameterType="long">
        delete from sw_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>